@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.title {
    font-family: "Poppins", sans-serif;
    color: #4B0082;
}

.play-again-button {
    background-color: #4B0082;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease-in-out;
}

.play-again-button:hover {
    background-color: #8B8B09;
}